$color: #2e4482;

.screen {
  &__button {
    fill: $color;

    cursor: pointer;
  }

  &__equalizer {
    fill: rgba(#fffcd7, 0.7);

    & #equalizer-2 {
      fill: rgba(#ff9cfc, 0.5);
      color: #ff9cfc;
    }

    & #equalizer-3 {
      fill: rgba(#dfdcfc, 0.7);
    }
  }

  &__current {
    fill: $color;

    font: bold 30px Roboto Mono;
  }

  .play {
    fill: #fff;
  }

  .pause {
    fill: #fff;
  }
}
