@import 'styles/screen';
@import 'styles/_click-me.scss';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100vw;

  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(rgba($color, 1.0), rgba(#546bab, 0.8));
}

audio {
  position: fixed;
  top: 0;
  left: 0;

  //transform: translateX(-50%) translateY(-50%);

  height: 100%;
  width: 100%;

  opacity: 0;
}
